@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página Restrita";
}

<p> Voce não tem permissão para acessar essa funcionalidade, <a asp-controller="Home" asp-action="Index">Click aqui para voltar para a home</a> </p>

