<form>
    <div class="mb-3 text-white">
        <label for="exampleInputEmail1" class="form-label">Nome</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 text-white">
        <label for="exampleInputPassword1" class="form-label">Descrição</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 text-white">
        <label for="exampleInputPassword1" class="form-label">Preço</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Adicionar</button>
</form>