@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-white">
    <h1 class="display-4">Bem-vindo(a)</h1>
    <p>Sistema de Visualização/Criação/Alteração/Deleção de Produtos</a>.</p>
</div>
