@using DropShipping.Enums
@model UserModel

@{
    ViewData["Title"] = "Criar Usuário";
}

<h1 class="text-white">Criar</h1>

<h4 class="text-white">Usuário</h4>
<hr />
<div class="row text-white" >
    <div class="col-md-4">
        <form asp-asp-controller="User" asp-action="Criar" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Perfil" class="control-label"></label>
                <span asp-validation-for="Perfil" class="text-danger"></span>
                <select asp-for="Perfil" class="form-control">
                    <option value="">Selecione</option>
                    <option value="@PerfilEnum.Admin">Administrador</option>
                    <option value="@PerfilEnum.Cliente">Cliente</option>
                </select>
                @Html.ValidationMessageFor(x => x.Perfil)
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
